{% load i18n %}
{% block subject %}
Password Reset on Melacast
{% endblock subject %}

{% block html_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Melacast.{% endblocktrans %}

<p>{% trans "Please go to the following page to set a new password:" %}</p>
<p>{{ protocol }}://localhost:3000/{{ url|safe }}</p>


<p>{% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>
{% trans "Thanks for using our site!" %}
{% endblock html_body %}
